textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px transparentize($light-green, 0.6);
  outline: 0 none;
}

.form-control {
  border-radius: 0;
  border-color: $gray;
  color: $dark-green;
}

.form-horizontal {
  .control-label {
    text-align: justify;
  }
}

.form-note {
	margin-top: 0.2em;
}

.field-wrapper {
	position: relative;
	padding-top: 1.4em;
	margin-bottom: 1em;
	label {
		position: absolute;
		top: 0;
		font-size: 0.8em;
	}
	.form-control-feedback {
		top: 1.4em;
	}
}

.flatpickr-day.today:focus, .flatpickr-day.today:hover {
	border-color: $dark-green;
}

.flatpickr-day.selected, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.selected:focus, .flatpickr-day.selected:hover {
	border-color: $light-green;
}
