.margin-small {
	margin: 0.5em auto !important;
}

.margin-medium {
	margin: 1em auto !important;
}

.margin-large {
	margin: 2em auto !important;
}

.margin-top-small {
	margin-top: 0.5em !important;
}

.margin-top-medium {
	margin-top: 1em !important;
}

.margin-top-large {
	margin-top: 2em !important;
}

.margin-top-extra {
	margin-top: 3em !important;
}

.padding-small {
	padding: 0.5em 0 !important;
}

.padding-medium {
	padding: 1em 0 !important;
}

.padding-large {
	padding: 2em 0 !important;
}

.padding-extra {
	padding: 3em 0 !important;
}
