{{> ../../partials/header loggedIn=true}}
<div class="container">
  <ul class="breadcumb">
    <li><a href="/reward/hotel">V.I.P 住宿兌換</a></li>
    <li>店家＆優惠介紹</li>
  </ul>
  <div class="row">
    <div class="col-sm-2">
      <div class="reward-stepper">
        <div class="current reward-step">
          <div class="reward-step-id">
            <h2>STEP-1</h2>
          </div>
          <div class="reward-step-name">
            <h3>飯店介紹</h3>
          </div>
        </div>
        <div class="reward-step">
          <div class="reward-step-id">
            <h2>STEP-2</h2>
          </div>
          <div class="reward-step-name">
            <h3>預約注意事項</h3>
          </div>
        </div>
        <div class="reward-step">
          <div class="reward-step-id">
            <h2>STEP-3</h2>
          </div>
          <div class="reward-step-name">
            <h3>填寫預約資料</h3>
          </div>
        </div>
        <div class="reward-step">
          <div class="reward-step-id">
            <h2>STEP-4</h2>
          </div>
          <div class="reward-step-name">
            <h3>確認預約資料</h3>
          </div>
        </div>
        <div class="reward-step">
          <div class="reward-step-id">
            <h2>STEP-5</h2>
          </div>
          <div class="reward-step-name">
            <h3>完成預約</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-sm-offset-1">
      <div class="reward-detail">
        <div class="reward-detail-img">
          <img src="https://placehold.it/1000X300" alt="logo">
        </div>
        <div class="reward-detail-description">
          <p>本飯店將其儒風意象化為設計元素，相信『現代且雋永』，館內裝潢設計處處可見中西融合與經典現代的巧思，運用閩式建築特色妝點空間，書院收藏著老讀物，大廳兩旁的鼓藝是呼應千百年來禮樂相傳的敬意，隱身其中的文創藝術有著溫和的態度，走入飯店，皆是藏於細節中的心意。</p>
          <p>秉持著與在地共生共榮的品牌精神，將溫厚的歷史氛圍與書院文化融於旅宿空間之中，謹以『文風再現‧創藝傳承』作為使命，承襲府城首學的風範與驕傲，感念舊世代的智慧，期許在新時代的文化裡共同努力，為旅人們創造豐富、滿足的住宿體驗！</p>
        </div>
        <div class="reward-detail-highlight text-center">
          <p>優 惠 期 間：<span>2016年01月01日至2016年12月31日</span></p>
          <p>優 惠 方 式：<span>洋式山景套房平日入住享優惠價NT$9,699(一泊二食)</span></p>
        </div>
        <div class="reward-notes">
          <h3>專案內容</h3>
          <hr>
          <div class="reward-notes-content">
            <ol>
              <li>宜蘭礁溪老爺酒店-洋式山景套房(定價NT$16,000+10%)住宿乙晚。</li>
              <li>雲天自助餐廳自助式早餐每人乙客(牌價NT$450+10%)或岩波庭日式早午餐每人乙客(牌價NT$450+10%)。</li>
              <li>雲天自助餐廳自助式晚餐每人乙客(牌價NT$1030+10%)或岩波庭-宜蘭廚房風味套餐每人乙客(牌價NT$1030+10%)。如於「岩波庭」餐廳使用晚餐，現場點選之套餐超過本專案提供之配合套餐價格(NT$1030+10%)，需於現場支付差價及差價的10%服務費。</li>
              <li>入住房客皆可享有：
              <ul>
                <li>盡享館內休閒設施(野天及洞天溫泉區、育樂中心、網際閱覽室等多項休閒設施)免費使用，但不含香氛湯屋及歡唱KTV室。</li>
                <li>每日報紙、客房養生茶飲及精緻點心。</li>
                <li>可享老爺得天公園高爾夫免費體驗（上午及下午場次二擇一）。</li>
                <li>提供房客完善且免費的網際網路服務，客房及各開放空間皆可盡情享受無線上網的樂趣。</li>
                <li>免費停車場供房客停放車輛。</li>
                <li>飯店備有定時定點往返於礁溪火車站與飯店之間的免費接送服務，請最晚於入住前一天事先預約。</li>
              </ul>
              </li>
              <li>本專案優惠價為平日入住優惠價，若預約入住日期為飯店定義之旺日、假日，持卡人可依肯驛國際預約客服中心規定另行加價。平日、小旺日、旺日、假日、大假日定義依飯店公告為準(<a href="2016_calendar/hotelroyal_chiaohsi.pdf" target="_blank">宜蘭礁溪老爺酒店-2016年行事曆</a>)。</li>
              <li>若預約入住日期為飯店定義之小旺日(E)，每房需另加價NT$1,100元；旺日(D)每房需加價NT$2,500元；假日(A)每房需加價NT$4,500元；大假日(A+)每房需加價NT$5,500元。</li>
              <li>於本網站下單完成後須收到預約成功簡訊才算預約成功，實際房況依飯店回覆為準，肯驛國際擁有活動最終決定權。</li>
              <li>預約本優惠如有嬰幼兒或兒童同行、或加人加床之服務、或素食需求者，持卡人請於本網站完成預約及刷卡付款，約略2個工作天後收到預約成功簡訊，再請自行致電至飯店告知相關需求。如該需求導致其他費用產生，請依飯店告知之付款方式處理。</li>
              <li>兒童收費標準：115公分以上或4-12歲之不佔床孩童，每人每晚加收NT$1,700+10%【含早晚餐、客房備品及多項休閒設施之使用，不含鋪床服務，每房限加住二位兒童(兒童定義︰4歲或身高115公分以上～12歲不佔床兒童)，無法加住大人】，如有需求請事先告知飯店；並依飯店定義於現場支付相關費用。</li>
              <li>持卡人若不能如期前往飯店入住，若不能如期前往飯店入住，持卡人須透過本網站取消，相關取消依肯驛國際預約客服中心現行辦法執行，飯店現場不受理各項異動或取消服務：
              <ul>
                <li>入住日(不含)前十四天通知辦理取消訂房，全額退費。</li>
                <li>入住日(不含)前十天至前十三天內通知辦理取消訂房，收30％取消費。</li>
                <li>入住日(不含)前七天至前九天內通知辦理取消訂房，收50％取消費。</li>
                <li>入住日(不含)前四天至前六天通知辦理取消訂房，收60％取消費。</li>
                <li>入住日(不含前二天至前三天通知辦理取消訂房，收70％取消費。</li>
                <li>入住日前一天及當天通知辦理取消訂房，收100％取消費。</li>
              </ul>
              </li>
              <li>其他注意事項：
              <ul>
                <li>持卡人未經本網站預約，直接到酒店現場不得享有本專案優惠。</li>
                <li>本專案優惠不適用農曆春節連續假期(2/6~2/14)、二二八連續假期(2/27~2/29)、清明連續假期(4/2~4/5)、端午節連續假期(6/9~6/12)、中秋節連續假期(9/15~9/18)、雙十連續假期(10/8~10/10)、跨年夜(12/31)。</li>
                <li>入住時間：每日下午3點以後，退房時間：隔日上午11:00前。</li>
                <li>本專案優惠不得指定房型及床型，須依飯店現場提供房型/床型為主。</li>
                <li>為確保房客的住宿品質，訪客請於晚間11點以前離開飯店，若逾時則視同住宿收費。</li>
                <li>使用館內各項設備及參加飯店提供之戶外活動，請遵守飯店相關規定。</li>
                <li>部分館內設施及活動需事先預約並依現場價格收取相關費用，請遵守飯店相關規定。</li>
              </ul>
              </li>
              <li>本專案不得與飯店現場其他專案優惠合併使用。優惠不可轉讓，僅對所示優惠有效，不可兌換現金。</li>
              <li>本專案已含稅及服務費。</li>
            </ol>
          </div>
        </div>
        <div class="reward-action text-center">
          <a class="btn btn-square btn-main btn-wide" href="./step2.html">下一步</a>
        </div>
      </div>
    </div>
  </div>
</div>
{{> ../../partials/footer}}
