{{> ../../partials/header loggedIn=true}}
{{> ../components/stepper name="飯店" step=3}}

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="reward-detail margin-top-extra">
        <form class="reward-data form-horizontal">
          {{> ../components/memberData}}
          {{> ../components/reserverData}}
          <div class="reward-detail-highlight text-left margin-extra">
            <div class="reward-detail-row">
              <span class="reward-detail-data">宜蘭礁溪老爺酒店-洋式山景套房</span>
            </div>
          </div>
          {{> ../components/calendar}}
        </form>
        <div class="reward-action text-center">
          <a class="btn btn-square btn-main btn-wide" href="./step4.html">下一步</a>
          <a class="btn btn-square btn-sub btn-wide" href="/reward/">取消</a>
        </div>

      </div>
    </div>
  </div>
</div>
{{> ../../partials/footer}}
