{{> ../../partials/header loggedIn=true}}
<div class="container">
  <ul class="breadcumb">
    <li><a href="/reward/hotel">V.I.P 住宿兌換</a></li>
    <li>店家＆優惠介紹</li>
  </ul>
  <div class="row">
    <div class="col-sm-2">
      <div class="reward-stepper">
        <div class="current reward-step">
          <div class="reward-step-id">
            <h2>STEP-4</h2>
          </div>
          <div class="reward-step-name">
            <h3>確認預約資料</h3>
          </div>
        </div>
        <div class="reward-step">
          <div class="reward-step-id">
            <h2>STEP-5</h2>
          </div>
          <div class="reward-step-name">
            <h3>完成預約</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-sm-offset-1">
      <div class="reward-detail">
        <h3>會員基本資料</h3>
      	<div class="reward-detail-highlight text-left">
      		<div class="reward-detail-row">
	      		<span class="reward-detail-label">姓名：</span>
	      		<span class="reward-detail-data">會員姓名</span>
      		</div>
      		<div class="reward-detail-row">
	      		<span class="reward-detail-label">E-mail：</span>
	      		<span class="reward-detail-data">renddi@relab.cc</span>
      		</div>
      		<div class="reward-detail-row">
	      		<span class="reward-detail-label">手機：</span>
	      		<span class="reward-detail-data">會員手機</span>
      		</div>
        </div>
        <h3>確認預約資料</h3>
      	<div class="reward-detail-highlight text-left">
      		<div class="reward-detail-row">
	      		<span class="reward-detail-label">飯店名稱：</span>
	      		<span class="reward-detail-data">宜蘭礁溪老爺酒店-洋式山景套房</span>
      		</div>
      		<div class="reward-detail-row">
	      		<span class="reward-detail-label">入住日期：</span>
	      		<span class="reward-detail-data">2016/10/19</span>
      		</div>
      		<div class="reward-detail-row">
	      		<span class="reward-detail-label">姓名：</span>
	      		<span class="reward-detail-data">使用人姓名</span>
      		</div>
      		<div class="reward-detail-row">
	      		<span class="reward-detail-label">手機：</span>
	      		<span class="reward-detail-data">使用人手機</span>
      		</div>
        </div>
        <div class="reward-action text-center">
          <a class="btn btn-square btn-main btn-wide" href="./step5.html">確認預約</a>
          <a class="btn btn-square btn-sub btn-wide" href="./step3.html">返回修改</a>
        </div>
      </div>
    </div>
  </div>
</div>
{{> ../../partials/footer}}
