.footer {
  margin-top: 2em;
  border-top: 1px solid $dark-green;
  padding-top: 1em;
  height: 6em;
  &.no-line {
    border: none;
  }
}

.footer-left {
  float: left;
}

.footer-right {
  float: right;
}

.footer-nav {
  ul {
    margin: 0;
    li {
      display: inline-block;
      a {
        text-decoration: none;
        font-family: $serif;
        color: $dark-green;
      }
    }
    li + li:before {
      content: '|';
      margin: 0 1em;
    }
  }
}
