.header {
  position: relative;
  height: 5em;
  font-family: $serif;
}

.navbar {
  padding: 1em 0;
  border-radius: 0;
  position: fixed;
  z-index: 100;
  width: 100%;
  min-height: 1px;
}

.navbar-light {
  margin-bottom: 0;
  background-color: white;
}

.navbar-nav > li, .navbar-nav {
  float: left !important;
}

.navbar-right {
  float: right !important;
  margin-right: 0 !important;
}

.navbar-logo {
  img {
    height: 3em;
    width: auto;
  }
}

.navbar-nav {
  margin: 0;
  li {
    font-size: 1em;
    a {
      line-height: 1em;
      padding: 1em;
    }
    a.btn {
      padding: 1em;
    }
  }
}

