.breadcumb {
  display: block;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    a {
      text-decoration: none;
    }
  }
  li + li:before {
    content: '>';
    margin: 0 0.5em;
  }
}

.reward-stepper-wrapper {
  position: relative;
  width: 100%;
  height: 8em;
}

.reward-stepper {
  position: fixed;
  left: 0;
  width: 100%;
  background: $dark-green;
  z-index: 90;
  .container {
    padding: 0;
  }
}

.reward-step {
  color: white;
  display: block;
  float: left;
  width: 20%;
  text-align: center;
  position: relative;
  margin-top: 1.5em;
}

.reward-step + .reward-step:before {
  content: '';
  display: block;
  width: 100%;
  border-top: 1px solid white;
  position: absolute;
  top: $heading2;
  right: 50%;
}

.reward-step-id {
  display: inline-block;
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
  background: $dark-green;
  position: relative;
  z-index: 10;
  color: white;
  text-decoration: none;
  cursor: default;
  transition: background 0.3s ease, color 0.3s ease;

  &:hover {
    color: white;
    background: $dark-green;
    text-decoration: none;
  }

  h2 {
    width: 1em;
    height: 1em;
    margin: 0.5em;
    font-family: $serif;
  }

  &.current {
    background: white;
    color: $dark-green;
    &:hover {
      background: white;
      color: $dark-green;
    }
  }

  &.linkable {
    cursor: pointer;
    &:hover {
      background: white;
      color: $dark-green;
    }
  }

}

.reward-step-name {
  p {
    margin: 0.5em auto 1.5em;
    letter-spacing: 0.2em;
    text-indent: 0.2em;
  }
}
