.breadcumb {
  display: block;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    a {
      text-decoration: none;
    }
  }
  li + li:before {
    content: '>';
    margin: 0 0.5em;
  }
}

.reward-step {
  margin-bottom: 3em;
  color: $gray;

  &.current {
    margin-bottom: 2em;
    font-size: 120%;
    color: $dark-green;

    &:after {
      content: '';
      display: block;
      width: 1em;
      margin-top: 0.5em;
      border-bottom: 1px solid $dark-green;
      border-right: none;
    }
  }
  &:after {
    content: '';
    display: block;
    width: 3em;
    height: 2em;
    margin-top: 3em;
    border-right: 1px solid $gray;
  }
  &:last-of-type:after {
    content: none;
  }
}

.reward-legal-note {
  color: $gray;
}

.reward-detail {
  margin-top: 1em;
}

.reward-detail-description {
  padding: 1em 2em;
  text-align: justify;
}

.reward-detail-highlight {
  margin: 1em 0;
  padding: 1em 0;
  background: $dark-green;
  color: white;
  p:last-of-type {
    margin-bottom: 0;
  }
}

.reward-detail-row {
  margin-left: 1em;
  margin-bottom: 0.5em;
  .reward-detail-label {
    width: 6em;
    display: inline-block;
  }
}

.reward-notes {
  padding-top: 1em;
  h3 {
    background: white;
    display: inline-block;
    padding-right: 1em;
    margin: 0;
  }

  hr {
    margin: -2px 0 2em;
    border-color: $dark-green;
  }

}

.reward-section-title {
  padding-bottom: 1em;
}

.reward-notes-content {
  ol ol {
    list-style-type: upper-alpha;
  }
}

.reward-action {
  padding-top: 2em;
  .btn + .btn {
    margin-left: 1em;
  }
}

.reward-action-checkbox {
  margin-right: 0.5em;
  input {
    margin-right: 0.5em;
  }
}

.reward-finish-nav {
  margin-top: 4em;
  text-align: center;
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      a {
        text-decoration: none;
      }
    }
    li + li:before {
      content: '|';
      margin: 0 1em;
      color: $light-green;
    }
  }
}
