{{> partials/header}}
<div class="container">
    <!-- 這邊可以替換view -->
    <div class="row">
        <div class="col-sm-4">
            <div class="slogan">
                <h1 class="all-caps">I'm With VIP Clib</h1>
            </div>
            <div class="home-nav">
                <ul>
                    <li><a href="">VIP資格與權益</a></li>
                    <li><a href="reward/">權益兌換</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-8">
            <img src="https://placehold.it/1920X1080" alt="">
        </div>
    </div>
</div>
{{> partials/footer}}