{{> partials/header}}
<div class="main-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="main-page-content">
                    <div class="slogan">
                        <h1 class="all-caps">I'm With VIP Club</h1>
                    </div>
                    <div class="sub-slogan">
                        <h2><b>尊榮的服務 X 朋友的溫度</b></h2>
                        <h2>凸顯尊榮感並彰顯有感服務</h2>
                    </div>
                    <div class="home-nav">
                        <ul>
                            <li><a href="">VIP資格與權益</a></li>
                            <li><a href="" id="show-login">權益兌換</a></li>
                        </ul>
                    </div>
                </div>
                <div class="login-content hidden">
                    <div class="login-header">
                        <h2>VIP Login</h2>
                    </div>
                    <!-- 確認登入後，導向/reward -->
                    <form id="member-login" class="reward-data" action="reward/">
                        {{>reward/components/form/text id="member-name" label="姓名"}}
                        {{>reward/components/form/text id="member-id" label="身分證字號"}}
                        {{>reward/components/form/text id="member-birthday" label="生日"}}
                        {{>reward/components/form/captcha}}
                        <div class="form-group">
                            <input type="submit" class="btn btn-square btn-main btn-full-width" value="登入">
                        </div>
                    </form>
                </div>
            </div>
            <div class="cover-image-wrapper">
                <div class="cover-image">
                </div>
            </div>
        </div>
    </div>
</div>
{{> partials/footer noLine=true}}