{{> partials/header noLogin=true}}
<div class="container">
	<div class="login-wrapper">
	    <div class="row text-center">
	    	<div class="login-header">
	        	<h2>VIP Login</h2>
	        </div>
	        <form id="member-login" class="reward-data">
	            <div class="form-group">
	            	<input id="member-name" name="name" class="form-control" type="text" placeholder="姓名">
	            </div>
	            <div class="form-group">
	            	<input id="member-id" name="id" class="form-control" type="text" placeholder="身分證字號">
	            </div>
	            <div class="text-left">
	            	<label>生日：</label>
	            </div>
	            <div class="form-group">

	            	<input id="member-birthday" name="birthday" class="form-control" type="text">
	            </div>
	            <div class="form-group">
	            	<input type="submit" class="btn btn-square btn-main btn-full-width" value="登入">
	            </div>
	        </form>
	    </div>
    </div>
</div>
{{> partials/footer}}