{{> ../../partials/header loggedIn=true}}
<div class="container">
  <div>
    <div class="reward-listing row">
      {{> ../components/rewardItem name="台北 福華飯店" description="尊榮優惠尊榮優惠尊榮優惠尊榮優惠尊榮優惠"}}
      {{> ../components/rewardItem name="台北 福華飯店" description="尊榮優惠尊榮優惠尊榮優惠尊榮優惠尊榮優惠"}}
      {{> ../components/rewardItem name="台北 福華飯店" description="尊榮優惠尊榮優惠尊榮優惠尊榮優惠尊榮優惠"}}
      {{> ../components/rewardItem name="台北 福華飯店" description="尊榮優惠尊榮優惠尊榮優惠尊榮優惠尊榮優惠"}}
      {{> ../components/rewardItem name="台北 福華飯店" description="尊榮優惠尊榮優惠尊榮優惠尊榮優惠尊榮優惠"}}
      {{> ../components/rewardItem name="台北 福華飯店" description="尊榮優惠尊榮優惠尊榮優惠尊榮優惠尊榮優惠"}}
    </div>
    </div>
    <div class="row reward-footer">
      <div class="col-xs-12">
        <p class="reward-legal-note">
          本網站之優惠及服務係由肯驛國際所提供，客戶對所提供之優惠及服務有任何爭議，或所有交易相關事項，由肯驛國際及合作商店負責處理。<br> Copyright © 2016 CanLead International All Rights Reserved. ｜ 隱私權聲明
        </p>
      </div>
    </div>
  </div>
</div>
{{> ../../partials/footer}}