{{> ../../partials/header loggedIn=true}}
{{> ../components/stepper name="餐廳" step=4}}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="reward-detail margin-top-extra">
        {{> ../components/confirmMemberData}}
        {{> ../components/confirmReservationData type="teatime"}}
        <div class="reward-action text-center">
          <a class="btn btn-square btn-main btn-wide" href="./step5.html">確認預約</a>
          <a class="btn btn-square btn-sub btn-wide" href="./step3.html">返回修改</a>
        </div>
      </div>
    </div>
  </div>
</div>
{{> ../../partials/footer}}
