<div class="field-wrapper">
	<label>圖形驗證</label>
	<div class="row">
		<div class="col-xs-6">
			<input id="captcha" name="captcha" type="text" class="form-control">
		</div>
		<div class="col-xs-6">
			<img class="captcha-pic" src="https://placehold.it/200X40" alt="">
		</div>
	</div>
</div>