<div class="field-wrapper">
  <input id="{{id}}" name="{{id}}" class="flatpickr form-control" data-enable-time="true" type="text" placeholder="請選擇日期與時間">
  <span class="fa fa-calendar-o form-control-feedback" aria-hidden="true"></span>
  <label>{{label}}</label>
</div>