{{> ../partials/header loggedIn=true}}
<div class="container">
	<h1>權益兌換</h1>
	<ol>
		<li>
			<a href="vip-lounge/step1.html" class="btn btn-lg btn-default">貴賓室兌換頁面</a>
		</li>
		<li>
			<a href="airport-shuttle/step1.html" class="btn btn-lg btn-default">機場接送兌換頁面</a>
		</li>
		<li>
			<a href="afternoon-tea/" class="btn btn-lg btn-default">飯店午茶兌換頁面</a>
		</li>
		<li>
			<a href="golf/" class="btn btn-lg btn-default">高爾夫兌換頁面</a>
		</li>
		<li>
			<a href="hotel/" class="btn btn-lg btn-default">住宿兌換頁面</a>
		</li>
		<li>
			<a href="health-care/" class="btn btn-lg btn-default">健檢兌換頁面</a>
		</li>
	</ol>
	
	
	
</div>
{{> ../partials/footer}}
