{{> ../../partials/header loggedIn=true}}
{{> ../components/stepper name="設施" step=2}}

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="reward-detail">
        <div class="reward-notes">
          <h3>使用條件及方式</h3>
          <hr>
          <div class="rewards-notes-content">
            <ol>
              <li>每日尊享優惠的<b>活動期間</b>：2016年1月1日～2016年12月31日；<b>預約期間</b>：2016年1月1日～2016年12月29日；<b>優惠使用期間</b>：2016年1月5日～2016年12月31日。</li>
              <li>每日尊享優惠限Visa無限卡／Visa御璽卡持卡人(以下稱「持卡人」)本人使用，如遇非持卡人本人使用該優惠者，「肯驛國際」有權依照原價85折向持卡人請求支付差額。</li>
              <li>預約開放時間：
                <ol>
                  <li>限量優惠
                    <ul>
                      <li><b>下午茶限量優惠</b>開放預約時間為每週一凌晨00:00時，預約下週二使用，最晚需於使用當日之二個工作天前（不含使用當日及例假日）至本網站預約。舉例說明：王先生欲使用2016年3月29日週二下午茶買一送一限量優惠，該日優惠將於2016年3月21日凌晨00:00時起開放預約至2016年3月25日23:59時止。</li>
                      <li><b>龍騰卡限量優惠</b>於每日凌晨00:00開放申請。</li>
                    </ul>
                    </li>
                    <li>平日優惠
                    <ul>
                      <li><b>影城優惠</b>須於開演2小時前至本網站預約劃位。</li>
                      <li><b>精選餐廳、健身俱樂部、高爾夫練習場等優惠</b>須於使用當日之2個工作天前（不含使用當日及例假日）透過本網站預約，可預約未來2～30天內的優惠。</li>
                      <li><b>租車優惠</b>須於5個工作天前（不含使用當日及例假日）透過本網站預約，可預約未來5～30天內的優惠。</li>
                    </ul>
                  </li>
                </ol>
              </li>
              <li><b>變更及取消</b>：持卡人若預約不能如期前往所預訂之各商店欲取消，須於使用日之前二日16：00前透過本網站取消程序完成取消，各商店不提供相關取消服務，如未依規定於使用日之前二日16：00前於本網站完成取消，預訂費用將不予退還，視同使用本優惠（影城優惠相關取消規則請見影城平日優惠條款）。</li>
              <li>各項優惠不接受持卡人未經預約直接到現場使用本優惠。</li>
              <li>各項優惠不適用於農曆除夕、大年初一至初五及特殊節日，包括情人節、母親節、父親節、聖誕夜及聖誕節或其他各種國定假日等節日，詳細定義依各飯店、影城、俱樂部、高爾夫練習場及租車公司公告為主。</li>
            </ol>
          </div>
        </div>
        <div class="reward-notes">
          <h3>注意事項</h3>
          <hr>
          <div class="reward-notes-content">
            <ol>
              <li>Visa無限卡˙Visa御璽卡尊享禮遇專屬優惠網站（以下稱「本網站」）限Visa無限卡與Visa御璽卡持卡人本人預約及使用，持卡人須先註冊為本網站會員並完成登錄步驟後方可享有會員獨享優惠，且同時會不定期接收網路公告、會員活動訊息、優惠促銷、與好康消息等電子報。</li>
              <li>
              預約開放時間：
              <ol>
              <li>每日尊享限量優惠
              <ul>
              <li><b>下午茶限量優惠</b>開放預約時間為每週一凌晨00:00時，預約下週二使用，最晚需於使用當日之二個工作天前（不含使用當日及例假日）至本網站預約。舉例說明：王先生欲使用2016年3月29日週二下午茶買一送一限量優惠，該日優惠將於2016年3月21日凌晨00:00時起開放預約至2016年3月25日23:59時止。</li>
              <li><b>龍騰卡限量優惠</b>於每日凌晨00:00開放申請。</li>
              </ul>
              </li>
              <li>每日尊享平日優惠
              <ul>
              <li><b>影城優惠</b>須於開演2小時前至本網站預約劃位。</li>
              <li><b>精選餐廳、健身俱樂部、高爾夫練習場等優惠</b>須於使用當日之2個工作天前（不含使用當日及例假日）透過本網站預約，可預約未來2～30天內的優惠。</li>
              <li><b>租車優惠</b>須於5個工作天前（不含使用當日及例假日）透過本網站預約，可預約未來5～30天內的優惠。</li>
              </ul>
              </li>
              <li><b>機場接送限量特價優惠</b>須於使用本服務3個工作天前（如為連續假期須於7個工作天前）透過本網站預約，可預約未來3～30天內的優惠。</li>
              <li><b>住宿優惠</b>預約開放時間為入住當日（含）往前推算5～90天的日期（舉例說明：王先生欲使用2016年4月1日住宿優惠，該日該優惠將於2016年1月1日凌晨00：00時起開放預約至2016年3月27日23：59時止）。</li>
              </ol>
              </li>
              <li>各項優惠不接受持卡人未經預約直接到現場使用本優惠。</li>
              <li>持卡人使用本網站預約作業系統應於20分鐘內完成預約並以Visa無限卡、Visa御璽卡刷卡付費成功，並取得預約編號，該預約手續才算完成；逾時交易將取消該預約，持卡人須重新進行預約。</li>
              <li>持卡人請於預訂日期依時抵達各商店，並出示線上刷卡預約之Visa無限卡（或Visa御璽卡）、預約編號、有照之身份證件（身份證、駕照或健保卡任一）供服務人員確認，逾時則無法使用，且將視同已使用本優惠，不得要求退款。</li>
              <li>如遇持卡人線上刷卡卡號與持卡人登錄卡號資料不符者，「肯驛國際」有權依照原價85折向持卡人請求支付差額。</li>
              <li>各項優惠不得轉讓，僅對所示優惠有效，不可兌換現金，也不得與其他優惠合併使用。</li>
              <li>本網站之優惠及服務係由「肯驛國際」所提供，持卡人對所提供之優惠及服務有任何爭議，或所有交易相關事項，由「肯驛國際」及參與優惠之商家負責處理。</li>
              <li>「肯驛國際」保留隨時修改、變更或終止本活動之權利，無須事先通知。參考定價若有調整，請依「肯驛國際」公告定價為準。</li>
              <li>
              為免疑義，特此聲明：本活動所述優惠為Visa卡持卡人所享有，優惠相關之所有商品及／或服務，則由「肯驛國際」提供。據此，持卡人瞭解、承認並同意：持卡人若依據優惠購買任何商品及／或服務，即構成持卡人與「肯驛國際」之間的合約，與Visa或Visa發卡機構（銀行）一概無涉。持卡人若使用或有意使用上述優惠的任何商品及／或服務，即表示持卡人瞭解、承認並同意下列事項：
              <ol>
              <li>持卡人依據上述優惠購買或有意購買的任何商品及／或服務，若有任何相關的索賠、申訴或爭議情事（統稱「要求」），須由持卡人直接洽詢「肯驛國際」俾利解決，不得向Visa或Visa發卡機構（銀行）提出任何要求。</li>
              <li>在不違反上述原則的情況下，針對優惠提供的商品及／或服務，如有使用或意圖使用商品及／或服務的行為造成或衍生任何人體傷害、死亡、不實陳述、傷害或疏失，概不由Visa針對任何相關的（直接、間接或其他）損失、傷害、支出或要求向任何人負責。</li>
              </ol>
              </li>
            </ol>
          </div>
        </div>
        <div class="text-center">
          <label class="reward-action-checkbox"><input type="checkbox">我同意以上服務事項條款，並盡到權利與義務。</label>
        </div>
        <div class="reward-action text-center">
          
          <a class="btn btn-square btn-main btn-wide" href="./step3.html">下一步</a>
          <a class="btn btn-square btn-sub btn-wide" href="./">取消</a>
        </div>
      </div>
    </div>
  </div>
</div>
{{> ../../partials/footer}}
