<div class="form-group">
    <label for="reservation-date" class="col-sm-12 control-label">預約日期：</label>
    <!-- 紀錄日曆選擇的日期 -->
    <input type="hidden" id="checkin-date" name="checkin-date" />
</div>
<div class="reward-data-calender text-center">
    <div class="month-nav row calendar-row">
        <div class="calendar-col-1">
            <button class="btn btn-transparent">
                <span class="fa fa-caret-left"></span>
                <span>09月</span>
            </button>
        </div>
        <div class="calendar-col-5 hidden-xs">
            <span>2016年10月</span>
        </div>
        <div class="calendar-col-1 hidden-xs">
            <button class="btn btn-transparent">
                <span>11月</span>
                <span class="fa fa-caret-right"></span>
            </button>
        </div>
    </div>
    <div class="row calendar-row hidden-xs">
        <div class="weekday-th calendar-col-1">Sun</div>
        <div class="weekday-th calendar-col-1">Mon</div>
        <div class="weekday-th calendar-col-1">Tue</div>
        <div class="weekday-th calendar-col-1">Wed</div>
        <div class="weekday-th calendar-col-1">Thu</div>
        <div class="weekday-th calendar-col-1">Fri</div>
        <div class="weekday-th calendar-col-1">Sat</div>
    </div>
    <div class="row calendar-row">
        <!-- 需算出第一周的開頭要補幾格，加上hidden-xs標籤，手機版會藏起來 -->
        <div class="hidden-xs calendar-col-1">
            <div class="day"></div>
        </div>
        <div class="hidden-xs calendar-col-1">
            <div class="day"></div>
        </div>
        <div class="hidden-xs calendar-col-1">
            <div class="day"></div>
        </div>
        <div class="hidden-xs calendar-col-1">
            <div class="day"></div>
        </div>
        <div class="hidden-xs calendar-col-1">
            <div class="day"></div>
        </div>
        <div class="hidden-xs calendar-col-1">
            <div class="day"></div>
        </div>
        <!-- visible-xs標籤，只會在手機版時顯示 -->
        <!-- 本月過去的日子，加上.past -->
        <div class="calendar-col-1">
            <div class="day past">
                <div class="date"><span class="visible-xs">10月</span>01<span class="visible-xs">日</span></div>
            </div>
        </div>
        <div class="calendar-col-1">
            <div class="day past">
                <div class="date"><span class="visible-xs">10月</span>02<span class="visible-xs">日</span></div>
            </div>
        </div>
        <div class="calendar-col-1">
            <div class="day past">
                <div class="date"><span class="visible-xs">10月</span>03<span class="visible-xs">日</span></div>
            </div>
        </div>
        <div class="calendar-col-1">
            <div class="day past">
                <div class="date"><span class="visible-xs">10月</span>04<span class="visible-xs">日</span></div>
            </div>
        </div>
        <div class="calendar-col-1">
            <div class="day past">
                <div class="date"><span class="visible-xs">10月</span>05<span class="visible-xs">日</span></div>
            </div>
        </div>
        <div class="calendar-col-1">
            <div class="day past">
                <div class="date"><span class="visible-xs">10月</span>06<span class="visible-xs">日</span></div>
            </div>
        </div>
        <div class="calendar-col-1">
            <div class="day past">
                <div class="date"><span class="visible-xs">10月</span>07<span class="visible-xs">日</span></div>
            </div>
        </div>
        <div class="calendar-col-1">
            <div class="day past">
                <div class="date"><span class="visible-xs">10月</span>08<span class="visible-xs">日</span></div>
            </div>
        </div>
        <div class="calendar-col-1">
            <div class="day past">
                <div class="date"><span class="visible-xs">10月</span>09<span class="visible-xs">日</span></div>
            </div>
        </div>
        <div class="calendar-col-1">
            <div class="day past">
                <div class="date"><span class="visible-xs">10月</span>10<span class="visible-xs">日</span></div>
            </div>
        </div>
        <div class="calendar-col-1">
            <div class="day past">
                <div class="date"><span class="visible-xs">10月</span>11<span class="visible-xs">日</span></div>
            </div>
        </div>
        <div class="calendar-col-1">
            <div class="day past">
                <div class="date"><span class="visible-xs">10月</span>12<span class="visible-xs">日</span></div>
            </div>
        </div>
        <div class="calendar-col-1">
            <div class="day past">
                <div class="date"><span class="visible-xs">10月</span>13<span class="visible-xs">日</span></div>
            </div>
        </div>
        <div class="calendar-col-1">
            <div class="day past">
                <div class="date"><span class="visible-xs">10月</span>14<span class="visible-xs">日</span></div>
            </div>
        </div>
        <div class="calendar-col-1">
            <div class="day past">
                <div class="date"><span class="visible-xs">10月</span>15<span class="visible-xs">日</span></div>
            </div>
        </div>
        <div class="calendar-col-1">
            <div class="day past">
                <div class="date"><span class="visible-xs">10月</span>16<span class="visible-xs">日</span></div>
            </div>
        </div>
        <div class="calendar-col-1">
            <div class="day past">
                <div class="date"><span class="visible-xs">10月</span>17<span class="visible-xs">日</span></div>
            </div>
        </div>
        <div class="calendar-col-1">
            <div class="day past">
                <div class="date"><span class="visible-xs">10月</span>18<span class="visible-xs">日</span></div>
            </div>
        </div>
        <div class="calendar-col-1">
            <div class="day">
                <div class="date"><span class="visible-xs">10月</span>19<span class="visible-xs">日</span></div>
                <!-- 今天以後的日子，加上reservation區塊 -->
                <div class="reservation">
                    <!-- onClick，加上 .active -->
                    <!-- 其他日子onClick，移除 .active -->
                    <button class="btn btn-calendar btn-square btn-main active">已選擇</button>
                </div>
            </div>
        </div>
        <div class="calendar-col-1">
            <div class="day">
                <div class="date"><span class="visible-xs">10月</span>20<span class="visible-xs">日</span></div>
                <div class="reservation">
                    <button class="btn btn-calendar btn-square btn-main">可預約</button>
                </div>
            </div>
        </div>
        <div class="calendar-col-1">
            <div class="day">
                <div class="date"><span class="visible-xs">10月</span>21<span class="visible-xs">日</span></div>
                <div class="reservation">
                    <button class="btn btn-calendar btn-square btn-main">可預約</button>
                </div>
            </div>
        </div>
        <div class="calendar-col-1">
            <div class="day">
                <div class="date"><span class="visible-xs">10月</span>22<span class="visible-xs">日</span></div>
                <div class="reservation">
                    <button disabled class="btn btn-calendar btn-square btn-main">已額滿</button>
                </div>
            </div>
        </div>
        <div class="calendar-col-1">
            <div class="day">
                <div class="date"><span class="visible-xs">10月</span>23<span class="visible-xs">日</span></div>
                <div class="reservation">
                    <button disabled class="btn btn-calendar btn-square btn-main">已額滿</button>
                </div>
            </div>
        </div>
        <div class="calendar-col-1">
            <div class="day">
                <div class="date"><span class="visible-xs">10月</span>24<span class="visible-xs">日</span></div>
                <div class="reservation">
                    <button disabled class="btn btn-calendar btn-square btn-main">已額滿</button>
                </div>
            </div>
        </div>
        <div class="calendar-col-1">
            <div class="day">
                <div class="date"><span class="visible-xs">10月</span>25<span class="visible-xs">日</span></div>
                <div class="reservation">
                    <button disabled class="btn btn-calendar btn-square btn-main">已額滿</button>
                </div>
            </div>
        </div>
        <div class="calendar-col-1">
            <div class="day">
                <div class="date"><span class="visible-xs">10月</span>26<span class="visible-xs">日</span></div>
                <div class="reservation">
                    <button disabled class="btn btn-calendar btn-square btn-main">已額滿</button>
                </div>
            </div>
        </div>
        <div class="calendar-col-1">
            <div class="day">
                <div class="date"><span class="visible-xs">10月</span>27<span class="visible-xs">日</span></div>
                <div class="reservation">
                    <button disabled class="btn btn-calendar btn-square btn-main">已額滿</button>
                </div>
            </div>
        </div>
        <div class="calendar-col-1">
            <div class="day">
                <div class="date"><span class="visible-xs">10月</span>28<span class="visible-xs">日</span></div>
                <div class="reservation">
                    <button disabled class="btn btn-calendar btn-square btn-main">已額滿</button>
                </div>
            </div>
        </div>
        <div class="calendar-col-1">
            <div class="day">
                <div class="date"><span class="visible-xs">10月</span>29<span class="visible-xs">日</span></div>
                <div class="reservation">
                    <button class="btn btn-calendar btn-square btn-main">可預約</button>
                </div>
            </div>
        </div>
        <div class="calendar-col-1">
            <div class="day">
                <div class="date"><span class="visible-xs">10月</span>30<span class="visible-xs">日</span></div>
                <div class="reservation">
                    <button class="btn btn-calendar btn-square btn-main">可預約</button>
                </div>
            </div>
        </div>
        <div class="calendar-col-1">
            <div class="day">
                <div class="date"><span class="visible-xs">10月</span>31<span class="visible-xs">日</span></div>
                <div class="reservation">
                    <button class="btn btn-calendar btn-square btn-main">可預約</button>
                </div>
            </div>
        </div>
        <!-- 需算出最後一周的結尾要補幾格，加上hidden-xs標籤，手機版會藏起來 -->
        <div class="hidden-xs calendar-col-1">
            <div class="day"></div>
        </div>
        <div class="hidden-xs calendar-col-1">
            <div class="day"></div>
        </div>
        <div class="hidden-xs calendar-col-1">
            <div class="day"></div>
        </div>
        <div class="hidden-xs calendar-col-1">
            <div class="day"></div>
        </div>
        <div class="hidden-xs calendar-col-1">
            <div class="day"></div>
        </div>
    </div>
    <!-- 結尾nav，供手機版使用 -->
    <!-- 跟開頭的nav一樣，不過只留下個月的那部分 -->
    <div class="month-nav row calendar-row visible-xs">
        <div class="calendar-col-1">
            <button class="btn btn-transparent">
                <span>11月</span>
                <span class="fa fa-caret-right"></span>
            </button>
        </div>
    </div>
</div>
