<h3>會員基本資料</h3>
<div class="reward-detail-highlight text-left">
	{{>form/confirm data="member-name" label="姓名" value="會員姓名"}}
	{{>form/confirm data="member-email" label="E-mail" value="renddi@relab.cc"}}
	{{>form/confirm data="member-phone" label="手機" value="會員手機"}}
</div>