<h3>手機驗證碼</h3>
<form class="reward-data cell-validation-form">
  <div class="form-group">
    <input id="cell-validation" class="form-control" type="text" placeholder="請輸入手機驗證碼以完成預約">
  </div>
  <div class="form-group">
    <button id="cell-validation-submit" class="btn btn-main btn-square">確認</button>
  </div>
</form>
<div class="cell-validation-ok hidden">
  已經確認完成預約！
</div>