<div class="col-xs-6 col-md-4 reward-item">
	<div class="reward-item-shadow">
		<a class="reward-item-img" href="./step1.html">
			<img src="https://placehold.it/400x400" >
		</a>
		<div class="reward-item-name text-center">
			{{name}}
		</div>
		<div class="reward-item-description">
			{{description}}
		</div>
	</div>
</div>